.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.Tile {
  height: 25px;
  width: 25px;
  background-color: rgb(179, 179, 179);
  color: wheat;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-bottom: 3px solid rgb(105, 105, 105);
  border-right: 3px solid rgb(105, 105, 105);
  border-left: 3px solid rgb(212, 212, 212);
  border-top: 3px solid rgb(212, 212, 212);
  box-sizing: border-box;
}
.Tile:active {
  border-top: 1px solid rgb(105, 105, 105);
  border-left: 1px solid rgb(105, 105, 105);
  border-bottom: 3px solid transparent;
  border-right: 3px solid transparent;
  background-color: rgb(159, 159, 159);
}
.Tile.flag {
    color: red;
}
.Tile.flag .content { margin-left: 6px;}
.Tile.mine .content { margin-left: 6px;}

.Tile.active {
  border-top: 1px solid rgb(105, 105, 105);
  border-left: 1px solid rgb(105, 105, 105);
  border-right: 1px solid rgb(212, 212, 212);
  border-bottom: 1px solid rgb(212, 212, 212);
}

.Tile.active:nth-child(even) { background-color: rgb(202, 192, 170);}
.Tile.active:nth-child(odd) { background-color: rgb(223, 220, 204);}
.TileRow:nth-child(even) .Tile.active:nth-child(even) { background-color: rgb(223, 220, 204);}
.TileRow:nth-child(even) .Tile.active:nth-child(odd) { background-color: rgb(202, 192, 170);}

.TileMap {
  display: flex;
  flex-direction: column;
  border-top: 3px solid rgb(105, 105, 105);
  border-left: 3px solid rgb(105, 105, 105);
  border-right: 3px solid rgb(235, 235, 235);
  border-bottom: 3px solid rgb(212, 212, 212);
  box-sizing: border-box;
}

.TileRow {
  display: flex;
  flex-direction: row;
}
.GameContainer {
  padding: 10px;
  background-color: rgb(179, 179, 179);
}

.GameInfo {
  border-top: 3px solid rgb(105, 105, 105);
  border-left: 3px solid rgb(105, 105, 105);
  border-right: 3px solid rgb(235, 235, 235);
  border-bottom: 3px solid rgb(212, 212, 212);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 24px;

}
.smiley {
  color: white;
  font-weight: bold;
  text-align: center;
  align-self: center;
  min-width: 26px;
  min-height: 26px;
  line-height: 26px;
  border-bottom: 3px solid rgb(105, 105, 105);
  border-right: 3px solid rgb(105, 105, 105);
  border-left: 3px solid rgb(212, 212, 212);
  border-top: 3px solid rgb(212, 212, 212);
  padding: 5px;
  margin: 2px;
  content: '';
}
.smiley:active {
  border-top: 3px solid rgb(105, 105, 105);
  border-left: 3px solid rgb(105, 105, 105);
  border-bottom: 3px solid rgb(212, 212, 212);
  border-right: 3px solid rgb(212, 212, 212);
  background-color: rgb(159, 159, 159);
}
.smilec { background-position: 0 -55px;}
.time9 {background-position: -117px 0}

.timer {
  margin: 5px;
  color: red;
  min-width: 50px;
}
.bombCount {
  margin:5px;
  color: red;
  min-width: 50px;
}
.smileyFace {
  margin: 5px;
}
.proximity1 { color: rgb(44, 107, 209) }
.proximity2 { color: rgb(190, 41, 22) }
.proximity3 { color: rgb(15, 144, 54) }
.proximity4 { color: rgb(223, 21, 162) }
.proximity5 { color: rgb(13, 170, 243) }
.proximity6 { color: rgb(252, 255, 47) }
.proximity7 { color: rgb(78, 26, 26) }
.proximity8 { color: rgb(243, 138, 19) }